:root {
  --primary: #00b98e;
  --secondary: #effdf5;
  --light: #effdf5;
  --dark: #0e2e50;
}

/*Fonte: Heebo*/

*{
  font-size: 16px;
}

header{
  height: 10vh;
}

@media (max-width: 992px){
  header{
      height: 100%;
  }
}